* {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}
body{
  background-image: url('https://i.pinimg.com/originals/36/bd/7c/36bd7c8bbdd16c2e9bb3ae331f0e47a9.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tabel{
  display: flex;
  justify-content: space-between;
}

.rilis{
  width: 60%;
  padding: 30px;
  text-align: center;
  margin: 70px auto 30px;
  background-color: rgba(255, 255, 255, 0.85);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

img, p, h3, h1{
  margin-bottom: 20px;
}

img{
  width: 800px;
}

.kiri{
  width: 60%;
  margin-right: 50px;
}

.kanan{
  width: 60%;
}

p{
  text-align: justify;
}