* {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}
body {
  text-align: center;
}
.kiri {
  float: left;
  width: 40%;
  height: 110%;
  position: relative;
  padding: 20px;
  left: 100px;
}

.kanan {
  float: left;
  width: 40%;
  height: 110%;
  position: relative;
  padding: 20px;
  left: 100px;
}

.tengah {
  margin: auto;
  text-align: justify;
  width: 70%;
}

img {
  width: 500px;
  margin-top: 100px;
}
li {
  text-align: justify;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}
